/node_modules
/coverage

# next.js
/.next/
/out/

# vercel
.vercel

# misc
.DS_Store
*.pem

# local env files
.env
.env.local
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# panda
/styled-system/
/styled-system-static/


# graphclient
/.graphclient/

# custom banner
/Banner.tsx
