# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/1337/
/broadcast/**/dry-run/

# Created by `forge snapshot`
/.gas-snapshot

# Docs
docs/

# Dotenv file
.env

artifacts
cache_hardhat

/coverage
/coverage.json
/lcov_foundry.info
/lcov_merged.info

.venv

mochaOutput.json
testMatrix.json
/deployment-context-latest.json
/deployment-manifest.json

# Invariant test counterexamples
/counterexamples
/counterexamples-fixed
/counterexamples-assume

# Fork script
/.env.*
!/.env.template
/anvil.pid
/anvil.log

# E2E broadcast logs
/broadcast-e2e
