# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/1337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

artifacts
cache_hardhat

coverage/
coverage.json
mochaOutput.json
testMatrix.json