@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/InterVariable.woff2") format("woff2");
}
*, :after, :before {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  line-height: 1.5;
}
body {
  margin: 0;
  height: 100%;
  line-height: inherit;
  color: #121b44;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  overflow-wrap: break-word;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button, input, optgroup, select, textarea, a {
  color: inherit;
}
a {
  text-decoration: none;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
textarea {
  resize: vertical;
}
:focus-visible {
  outline: 2px solid #405ae5;
}
:-moz-ui-invalid {
  box-shadow: none;
}
:-moz-focusring {
  outline: auto;
}

/* to move */
body {
  min-width: 1200px;
}
[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
input[type=email], input[type=password], input[type=search], input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
}
